django==4.2.20
crewai==0.114.0
crewai-tools==0.40.1
langchain 
langchain-groq
python-dotenv==1.1.0
python-decouple==3.8
gunicorn==23.0.0
django-allauth==0.59.0 
psycopg2-binary==2.9.10
dj-database-url==1.0.0
matplotlib==3.8.0
yfinance==0.2.10
feedparser==6.0.1
snowflake-connector-python==3.14.0
django-allauth-ui==0.1.0
slippers==0.6.2  